.products-page {
    background: url(https://s3-alpha-sig.figma.com/img/488d/b74a/65d5ace2fbbe83a1a93107e30948dc52?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=OSMomJnx9eJnirLa7FAd5KETHX8f-Z6hw5O9K9ZOnuhIJCvs1Ki5JVmtTb5a~xe1PnXFug5ncm3SWYBVR6Nld7zJW-l47darlQDCN6B3yfI6vfkmw0AOpJ9AT2-XcN3r7g9xcT-doTHIrU8he0jODGHwxOKvgn64OqXSnSkmaWV40BGzIU8l9qGeswbmR5bkWSgXQwQ9WYmU9xBQ3fALwMvNRWd6gAve6pUXy9mLqYmLvjpd6gczo9J44cgZqcC3dwmAx56trlAg9GzZuwiJ1b5ES3LeGMPJzPryDXKLsp1qHq0lbJ3Os12ogP61ffoDcRK6htjfDNJcBHf7K5Gtfg__) no-repeat center center / cover;
    height: 209px;
    display: flex;
    > div {
        display: flex;
        color: white;
        font-size: 36px;
        align-items: end;
        margin: 50px;
    }
}

.filter-container {
    display: flex;
    align-items: center;
    height: 64px;
}

.filter-container-mobile {
    display: none;
}

.filter-content {
    display: flex;
    padding: 30px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.filter-content select {
    border: none;
    font-size: 16px;
}

.filter-content-1 {
    display: flex;
    width: 100%;
    gap: 60px;
    flex: 2;
}

.filter-content-2 {
    display: flex;
    gap: 20px;
    flex: 1;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .filter-container {
        display: none;
    }

    .filter-container-mobile {
        display: flex;
        align-items: center;
        height: 96px;
        justify-content: center;
    }

    .filter-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
        justify-items: center;
        > select {
            border: none;
            width: 163px;
            height: 56px;
            text-align: center;
            background: #F9F9F9;
        }
    }

}
